*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
   background:#22304f;
   display: flex;
   justify-content: center; 
   align-items: center;
}
.contact-container {
 display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.contact-form, .contact-info{
  padding: .75rem;
}
/* ##### Contact Info Section  ##### */
.contact-info{
  flex:40%;
  color: #fff!important;
 font-size: 24px;

}

/* ##### Contact Form Section  ##### */
.contact-form{
  flex: 60%;
  

}
label {
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
}

input[type='text'],
input[type='email'],
textarea {
  display: block;
  max-width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* margin-bottom: 20px; */
}

.form-control {
  margin-bottom: 20px;
}

.error {
  color: red;
}

